<% if [:number_field, :text_field, :email_field, :hidden_field, :password_field].include?(field) %>
  <%= render 'partials/form-fields/label', f: f, label: label %>

  <div class="mt-1 rounded-md shadow-sm">
    <%= f.send(field, label, autofocus: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 #{resource.errors[label].any? ? 'border-red-300 text-red-900 placeholder-red-300 focus:border-red-300 focus:ring-red': '' }") %>
  </div>

  <% if resource.errors[label].any? %>
    <p class="mt-2 text-sm text-red-600">
      <%= resource.errors.full_messages_for(label).join(", ") %>
    </p>
  <% end %>
<% else %>
  <p>Invalid field type</p>
<% end %>
