<div class="space-x-2 flex items-center">
  <%= render "partials/icons/outline/x_pizza", className: defined?(icon_class) ? icon_class : '' %>

  <div class="<%= defined?(text_class) ? text_class : '' %>">
    <span class="font-bold">Pizza</span><span class="font-light">Magic</span>
  </div>
</div>